In [1]:
import pathlib
from argparse import ArgumentParser

import numpy as np
import pandas as pd
import torch as th
import sklearn as sk

from pytorch_lightning import seed_everything, Trainer

from torch_factorization_models.implicit_mf import ImplicitMatrixFactorization
from torch_factorization_models.movielens import MovielensDataset

### Load the dataset

In [2]:
movielens = MovielensDataset("/home/karl/Projects/datasets/ml-20m/")

In [3]:
preprocessor = movielens.preprocessor

In [4]:
user_xformer = preprocessor.named_transformers_['user_id']
item_xformer = preprocessor.named_transformers_['item_id']

### Set up the model and the splits

In [5]:
seed_everything(42)  # same seed used to create splits in training

42

In [6]:
# TODO: Figure out how to set the number of users and items

In [7]:
parser = ArgumentParser(add_help=False)
parser = Trainer.add_argparse_args(parser)
parser = ImplicitMatrixFactorization.add_model_specific_args(parser)

args = parser.parse_args(args=[])
args.num_users = 138287
args.num_items = 20720
# args.use_biases = False
args.embedding_dim = 32

args

Namespace(accumulate_grad_batches=1, amp_backend='native', amp_level='O2', auto_lr_find=False, auto_scale_batch_size=False, auto_select_gpus=False, benchmark=False, beta1=0.9, beta2=0.999, check_val_every_n_epoch=1, checkpoint_callback=True, default_root_dir=None, deterministic=False, distributed_backend=None, early_stop_callback=False, embedding_dim=32, fast_dev_run=False, gpus=<function Trainer._gpus_arg_default at 0x7fb30798ae50>, gradient_clip_val=0, limit_test_batches=1.0, limit_train_batches=1.0, limit_val_batches=1.0, log_gpu_memory=None, log_save_interval=100, logger=True, loss='hinge', max_epochs=1000, max_steps=None, min_epochs=1, min_steps=None, momentum=0.9, num_items=20720, num_nodes=1, num_processes=1, num_sanity_val_steps=2, num_users=138287, overfit_batches=0.0, overfit_pct=None, precision=32, prepare_data_per_node=True, process_position=0, profiler=None, progress_bar_refresh_rate=1, reload_dataloaders_every_epoch=False, replace_sampler_ddp=True, resume_from_checkpoint=None, row_log_interval=50, sync_batchnorm=False, terminate_on_nan=False, test_percent_check=None, tpu_cores=<function Trainer._gpus_arg_default at 0x7fb30798ae50>, track_grad_norm=-1, train_percent_check=None, truncated_bptt_steps=None, use_biases=True, val_check_interval=1.0, val_percent_check=None, weights_save_path=None, weights_summary='top', x_weight_decay=0.01, y_learning_rate=0.01, z_optimizer='sparser_adamw')

In [9]:
model = ImplicitMatrixFactorization(args)

state_dict = th.load("../models/38ov3g28-honest-lake-213.pt")

# preprocessor = state_dict['preprocessor']
del state_dict['preprocessor']

model.load_state_dict(state_dict)

In [10]:
# user_encoder = sk.preprocessing.OrdinalEncoder()
# print(preprocessor)
# params = preprocessor['transformers'][0][1]
# print(params.categories_)
# user_encoder.set_params(**params)
# user_encoder

### Load movie data

In [11]:
movies_df = pd.read_csv("/home/karl/Projects/datasets/ml-20m/movies.csv")

movies_df[:10]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

### Define a function to retrieve similar movies

In [12]:
# model.use_biases = False

In [13]:
# def fetch_similar(df, movieId, k):
#     movieIds = th.tensor(item_xformer.transform([[movieId], [10]])).flatten()
#     print(movieIds)
#     topk_scores, topk_indices = model.similar_to_items(movieIds)
#     print(topk_scores, topk_indices)
#     similarIds = item_xformer.inverse_transform(topk_indices.t()[:,0:1].numpy()).flatten()
#     print(similarIds.flatten())
#     return df[df['movieId'].isin(similarIds)]
# #     return scores
# #     return similarIds

def fetch_similar(df, movieId, k):
    movieIds = th.tensor(item_xformer.transform([[movieId], [1]])).flatten()
#     print(movieIds)
    topk_scores, topk_indices = model.similar_to_items(movieIds, k=k)
    print(topk_scores)
    print(topk_indices)
#     similar_ids = topk_indices.t()[:,0:1].numpy().flatten()
    ids_to_transform = topk_indices.t()[:,0:1].numpy()
    print(ids_to_transform)
    similar_ids = item_xformer.inverse_transform(ids_to_transform).flatten()
    print(similar_ids.flatten())
#     return df.iloc[similar_ids, :]
    return df[df['movieId'].isin(similar_ids)]
#     return scores
#     return similarIds

### Try it out!

In [14]:
# A new hope - 260
# model.use_biases = False
model.use_biases = False
fetch_similar(movies_df, 3328, 50)

tensor([[1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000,
         1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000,
         1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000,
         1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000,
         1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000,
         1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [0.9999, 0.9997, 0.9997, 0.9997, 0.9997, 0.9996, 0.9996, 0.9995, 0.9994,
         0.9994, 0.9994, 0.9994, 0.9993, 0.9993, 0.9993, 0.9992, 0.9992, 0.9991,
         0.9991, 0.9991, 0.9991, 0.9990, 0.9990, 0.9989, 0.9988, 0.9988, 0.9988,
         0.9987, 0.9987, 0.9987, 0.9987, 0.9987, 0.9984, 0.9984, 0.9984, 0.9984,
         0.9983, 0.9982, 0.9982, 0.9981, 0.9981, 0.9981, 0.9980, 0.9980, 0.9979,
         0.9979, 0.9978, 0.9977, 0.9976, 0.9976]])
tensor([[ 3863,  1566, 12104,  4525,  1817,  8980,  4175,  1702,  8862,  4887,
          2212,  5193,  1709,  3228,  3945,  2450, 12012,  5716,  8999, 12294,
          4277,  3413,  8681,  4950, 14234, 15214,  5724,  1730,  6638,  3750,
          4438,  9389,  4157,  3084,  4143,  4276, 11592,  3640,  4948,  4026,
          2671, 10764,  5298, 17936,  9004,  5693,  4800, 12416,  4587,  3149],
        [    0,   148,   293,   257,   352,    49,   523,   602,   589,  1182,
           583,  1170,    31,   587,  1169,   315,  1171,  1015,   290,   547,
           731,  1235,   376,  1073,    46,  1240,  1123,   139,   340,   373,
           721,   582,   537,   220,  1193,  1526,   766,  1711,    20,  1111,
          1360,  1478,   906,  2668,  1050,  1186,  3019,   453,  2478,   901]])
[[ 3863]
 [ 1566]
 [12104]
 [ 4525]
 [ 1817]
 [ 8980]
 [ 4175]
 [ 1702]
 [ 8862]
 [ 4887]
 [ 2212]
 [ 5193]
 [ 1709]
 [ 3228]
 [ 3945]
 [ 2450]
 [12012]
 [ 5716]
 [ 8999]
 [12294]
 [ 4277]
 [ 3413]
 [ 8681]
 [ 4950]
 [14234]
 [15214]
 [ 5724]
 [ 1730]
 [ 6638]
 [ 3750]
 [ 4438]
 [ 9389]
 [ 4157]
 [ 3084]
 [ 4143]
 [ 4276]
 [11592]
 [ 3640]
 [ 4948]
 [ 4026]
 [ 2671]
 [10764]
 [ 5298]
 [17936]
 [ 9004]
 [ 5693]
 [ 4800]
 [12416]
 [ 4587]
 [ 3149]]
[  3976   1622  59814   4640   1903  27018   4289   1773  26749   5006
   2304   5317   1782   3328   4058   2543  59053   5850  27081  61009
   4391   3518  26413   5071  77709  83525   5858   1809   6806   3860
   4552  31086   4271   3180   4256   4390  55167   3747   5068   4139
   2765  47117   5423 101527  27095   5827   4919  62254   4702   3245]

,movieId,title,genres
1568,1622,Kicked in the Head (1997),Comedy|Drama
1704,1773,Tokyo Fist (Tokyo ken) (1995),Action|Drama
1711,1782,Little City (1998),Comedy|Romance
1732,1809,Fireworks (Hana-bi) (1997),Crime|Drama
1819,1903,Hav Plenty (1997),Comedy
2219,2304,Love Is the Devil (1998),Drama
2458,2543,Six Ways to Sunday (1997),Comedy
2679,2765,"Acid House, The (1998)",Comedy|Drama
3093,3180,Play it to the Bone (1999),Comedy|Drama
3158,3245,I Am Cuba (Soy Cuba/Ya Kuba) (1964),Drama
3241,3328,Ghost Dog: The Way of the Samurai (1999),Crime|Drama
3428,3518,"End of Violence, The (1997)",Drama|Thriller
3656,3747,Jesus' Son (1999),Drama
3767,3860,"Opportunists, The (2000)",Comedy|Crime|Drama
3882,3976,Stardom (2000),Comedy|Drama
3964,4058,"Personals, The (Zheng hun qi shi) (1998)",Drama
4045,4139,No Man's Land (1987),Crime|Drama
4162,4256,"Center of the World, The (2001)",Drama
4176,4271,Eureka (Yurîka) (2000),Drama
4194,4289,"City of Women, The (Città delle donne, La) (1980)",Comedy|Drama
4295,4390,Rape Me (Baise-moi) (2000),Crime|Drama|Thriller
4296,4391,"Vertical Ray of the Sun, The (Mua he chieu tha...",Drama
4457,4552,"Tetsuo, the Ironman (Tetsuo) (1988)",Action|Horror|Sci-Fi|Thriller
4545,4640,Brother (2000),Action|Crime|Thriller
4607,4702,Thomas in Love (Thomas est Amoureux) (2000),Comedy|Drama
4823,4919,Subway (1985),Crime|Drama|Romance|Thriller
4910,5006,Sex and Zen (Rou pu Tuan zhi tou Qing bao Jian...,Action|Adventure|Comedy|Fantasy
4972,5068,Beijing Bicycle (Shiqi sui de dan che) (2001),Drama
4975,5071,Maelström (2000),Drama|Romance
5220,5317,"Girls Can't Swim (Filles ne savent pas nager, ...",Drama
5326,5423,Gangster No. 1 (2000),Action|Crime|Thriller
5728,5827,"Young Americans, The (1993)",Crime|Drama
5751,5850,Road Games (a.k.a. Roadgames) (1981),Thriller
5759,5858,"Soupe aux Choux, La (1981)",Comedy
6696,6806,Time and Tide (Seunlau Ngaklau) (2000),Action|Crime|Thriller
8831,26413,Snake in the Eagle's Shadow (Se ying diu sau) ...,Action|Comedy
9027,26749,Prospero's Books (1991),Drama|Fantasy
9170,27018,Fudoh: The New Generation (Gokudô sengokushi: ...,Action|Crime
9191,27081,Claire Dolan (1998),Drama
9196,27095,"Hole, The (Dong) (1998)",Drama|Musical
9637,31086,Battles Without Honor & Humanity (Jingi naki t...,Crime|Drama
11185,47117,Tears of the Black Tiger (Fah talai jone) (2000),Action|Comedy|Romance|Western
12118,55167,Tekkonkinkreet (Tekkon kinkurîto) (2006),Action|Adventure|Animation|Crime|Fantasy
12594,59053,Nathalie... (2003),Drama
12696,59814,Ex Drummer (2007),Comedy|Crime|Drama|Horror
12903,61009,Inside Paris (Dans Paris) (2006),Drama
13032,62254,"Funeral, The (Ososhiki) (1984)",Comedy
15216,77709,"Sky Crawlers, The (Sukai kurora) (2008)",Adventure|Animation|Drama
16528,83525,Outrage (Autoreiji) (2010),Crime|Drama
20741,101527,Into the White (Cross of Honour) (2012),Action|Drama|War

### Tests

In [15]:
model.use_biases = False
query_ids = th.tensor(list(range(2)))
scores, ids = model.similar_to_items(query_ids, k=3720)

# print(ids[:, 0])
# assert (ids[:, 0] == query_ids).all()

print(scores)
print(ids)

tensor([[9.9986e-01, 9.9973e-01, 9.9972e-01,  ..., 4.6388e-04, 4.6260e-04,
         4.6259e-04],
        [9.9999e-01, 9.9999e-01, 9.9999e-01,  ..., 2.9181e-01, 2.9150e-01,
         2.9123e-01]])
tensor([[    0,   148,   293,  ..., 11753,  2404,  4820],
        [10046,     1, 12666,  ...,  2556,  1698, 14795]])

In [16]:
model.use_biases = True
query_ids = th.tensor(list(range(100)))
scores, ids = model.similar_to_items(query_ids, k=5)

# print(ids[:, 0])
# assert (ids[:, 0] == query_ids).all()

print(scores)
print(ids)

tensor([[0.9999, 0.9997, 0.9997, 0.9997, 0.9997],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 0.9995, 0.9995, 0.9995, 0.9995],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 0.9999, 0.9999, 0.9998, 0.9998],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 0.9999, 0.9998, 0.9997, 0.9997],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 0.9999, 0.9998, 0.9998, 0.9997],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [0.9999, 0.9998, 0.9996, 0.9996, 0.9995],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 0.9999, 0.9999, 0.9999, 0.9998],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 0.9999, 0.9998, 0.9998, 0.9998],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 0.9998, 0.9998, 0.9997, 0.9996],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 0.9999, 0.9998, 0.9998, 0.9998],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 0.9999, 0.9998, 0.9998, 0.9998],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [0.9999, 0.9999, 0.9999, 0.9998, 0.9998],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 0.9999, 0.9999],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
        [1.0000, 1.0000, 1.0000, 1.0000, 1.0000]])
tensor([[    0,   148,   293,   257,   352],
        [10046,     1, 12666,   253,   664],
        [   74,     4,   474,   485,     2],
        [    3,     8,    19,    26,     7],
        [   50,     4,    53,    55,     2],
        [    5,   373,   621,  1015,    46],
        [    6,   138,   284,   286,   267],
        [    3,     7,    12,    14,     8],
        [    3,     7,    14,    19,     8],
        [    9,   373,   430,   110,   159],
        [   10,   468,   249,   273,   550],
        [   37,    11,    62,    63,    55],
        [   12,     7,    26,    37,    32],
        [   40,    13,    66,    77,    58],
        [   14,     8,    19,    26,     7],
        [  427,    15,   109,  1427,   293],
        [   16,   822,   258,   259,   448],
        [   17,    96,   225,   440,    64],
        [ 1669,   210,  1704,  2415,    18],
        [    3,    14,    19,    22,     8],
        [   20,   373,   436,   376,   430],
        [ 1758,  1654,  2888,  3847,    21],
        [    8,    19,    37,    50,    22],
        [  198,   199,  2142,  2387,    23],
        [   24,   297,    51,   531,   505],
        [   25,    34,    39,    40,    29],
        [    3,    12,    14,    26,     7],
        [   50,    27,    52,    89,    34],
        [   28,   702,   727,  2716,  6942],
        [   25,    34,    39,    48,    29],
        [  199,    37,   231,   506,    30],
        [   31,   293,   290,  1065,    49],
        [    3,     7,    32,    34,    12],
        [   33,   148,   373,   590,   314],
        [    3,    25,    27,    32,    29],
        [   35,    13,  1095,   504,   297],
        [    3,     7,    32,    37,    36],
        [    3,     7,    11,    12,     8],
        [   38,   335,    10,   258,   436],
        [    3,     7,    29,    32,    25],
        [   13,    25,    34,    40,    39],
        [    3,     8,    41,    50,    19],
        [   34,    42,    55,    66,    52],
        [   65,    43,    74,    91,    55],
        [  218,   242,   284,   331,    44],
        [    3,    26,    32,    37,    34],
        [  293,    46,    49,   587,   352],
        [   12,    47,   118,   141,    37],
        [    3,    32,    34,    36,    29],
        [   49,   587,   293,   352,   148],
        [    3,     4,     8,    12,     7],
        [   51,   847,   961,   981,   626],
        [    3,     8,    12,    19,     7],
        [    3,     4,     7,    12,     8],
        [    3,    12,    29,    32,    26],
        [    3,     4,     7,    11,     8],
        [    3,    26,    34,    37,     7],
        [ 1464,   327,  1017,   318,    81],
        [    3,     7,    13,    14,     8],
        [   37,    12,    53,    55,     7],
        [    3,     7,    19,    26,     8],
        [   61,  1330,  4271,  2145,   139],
        [   37,    11,    55,    62,    53],
        [    3,     8,    11,    12,     7],
        [    3,     7,     8,    14,    11],
        [    3,     7,    11,    14,     8],
        [    3,     7,    12,    13,     8],
        [    3,    32,    34,    48,    37],
        [   68,   190,   210,   223,    62],
        [   69,  7295,  1225,   175,   362],
        [    3,     7,    12,    14,     8],
        [   83,    74,    96,   100,    71],
        [   66,    39,   113,   141,    72],
        [    3,    37,    39,    45,    26],
        [    3,     4,     7,     8,     2],
        [    8,    50,    55,    64,    14],
        [    3,     7,    29,    32,    19],
        [   37,    39,    54,    58,    13],
        [    3,     8,    32,    37,    11],
        [    3,     8,    29,    34,     7],
        [   54,    66,    80,    96,    77],
        [   50,    34,    52,    54,    48],
        [    3,     7,    12,    13,     8],
        [    3,    14,    26,    29,     7],
        [    3,    29,    39,    42,    34],
        [   66,    60,    74,    85,    42],
        [    3,     4,     7,    12,     8],
        [   11,    53,    55,    60,    37],
        [    8,    70,    88,    98,    63],
        [    3,     8,    12,    14,     7],
        [    3,    11,    14,    34,     7],
        [    3,     8,    11,    14,     7],
        [  136,   127,   177,   180,    92],
        [  692,    93,  3310,  6691,   202],
        [   34,    32,    36,    37,    27],
        [   58,   113,   140,   223,    95],
        [    3,     7,    11,    14,     8],
        [    3,    29,    32,    36,     8],
        [    3,     8,    13,    22,    19],
        [ 1040,    99,  1282,  1779,  1124]])